

body{
    position: relative;
}

#show-modal{
    transition: all 0.15s linear;
}

.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 999999999;
    background-color: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.modal .content-modal{
    width: 100%;
    max-width: 600px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background:linear-gradient(to left, #1e62d0 , rgb(28, 209, 241));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 999999999;
    

}

.modal h2{
    padding: 0.5em;
    text-align: center;
    color: #ffffff;
    margin: 0;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    text-transform: capitalize;
}

.modal article{
    height: 400px;
    background-color: #dbdbdb;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    

}

.close-modal{
    color: #ffffff;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.modal a:hover{
    color:#c0392b;
}

.modal:target{
    opacity: 1;
    top: 0;
}

.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999991;

}

.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;
    
}


.input100{
    width: 98%;
    margin: 5px auto;
}



.input50{
    width: 48%;
    margin: 5px auto
}


.btn_crear{
    margin: 10px 0;
}
form{
    overflow: hidden;
}

.conten_btn{
    height: 45px;
}